.agecheck {
  @include themify(){
    background: themed("background-accent");
    color: themed("text-color");
  }

  position: -webkit-sticky; /* Safari */
  position: sticky;

  top: 0;
  margin: 0 !important;
  padding: $global-h1-margin;
  h2 {
    margin: 0
  }
}
