.agecheck {
  @include themify(){
    background: themed("background-accent");
    color: themed("text-color");
  }
  margin: $global-margin 0 !important;
  padding: $global-h1-margin;

  border-radius: $global-border-radius;

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  @include mobile-portrait {   
    position: inherit !important;
  }
}
