article {
  p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: $mui-base-font-size;
    font-weight: 400;
    line-height: 1.7em;
  }

  h1 {
    margin-top: $h1_margin;
  }

  h2 {
    margin-top: 3.5rem;
  }

  h3 {
    margin-top: 3rem;
  }

  p strong {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
  }
  
  li ul {
    margin-left: 2rem;
  }
}

/* Images */

article p img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 2rem auto;
}

article img[src$='#smallSquare']
{
  max-width: 300px;
  max-height: 300px;
}

article img[src$='#small']
{
  max-width: 300px;
  max-height: 250px;
}

article img[src$='#big']
{
  max-width: 750px;
  max-height: 600px;
}
article img[src$='#bigSquare']
{
  max-width: 750px;
  max-height: 750px;
}

// Smaller Article in list
article.short {
  h2 {
  margin-top: 0px;
  }

  .details {
    font-size: 85%;
  }

  .thumbnail {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .details span.material-icons{
    font-size: 0.8rem;
  }

}

// Footnotes
article {
  .footnotes {
    font-size: 0.85rem;
  }
  .footnotes ol {
    margin: 1rem;
  }

  .footnotes p {
    font-size: 0.85rem;
  }
}

// Fixes numbers and bullet points not being readable on small screens
@media screen and (max-width: $screen-break-small) {
  // Article lists and bullet points
  article ul {
    margin-left: 2.5rem;
  }
  article ol {
    margin-left: 2.5rem;
  }
}

ul.pagination {
  display: block;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  align-items: center;

  .page-item {
    margin-left: 1rem;
    display: block;
    margin: auto;
  } 

  .page-item.active {
    a {
      color: $accent-color;
    }
  }
}