// Smaller Article in list
article.short {
  clear: both;
  margin: $global-margin 0;
  border-radius: $global-border-radius;
  text-align: left;

  h2 {
    margin-top: 0px;

    a {
      @include themify(){
        color: themed("text-color");
      }    
    }
  }

  .details {
    font-size: 85%;
  }

  .thumbnail {
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: $global-border-radius;
    display: inline;
    float: left;
    margin: $global-margin/3 $global-margin/2 $global-margin/3 0;

    @include themify(){
      background-color: themed("background-accent");
    }

    @include for-mobile-portrait-down {
      display: block;
      float: none;
      margin: $global-margin/3 auto;
      clear: both;
      width: 100%;
      height: 200px;
    }

  }

  .summary {
    @include for-mobile-portrait-down {
      display: block;
      margin: 0 auto $global-margin/3 auto;
      clear: both;
    }
  }

}
