// Floating aside
aside {
  width: ($global-body-width/12)*4;
  float: left; // opposite to .main
  padding-left: $global-margin/2;
  margin-top: $global-header-top-distance;

  @include mobile-portrait {   
    display: none;
  }

  img#about_author_avatar {
    width: 100%;
    max-width: 155+$global-margin;
    margin: 0 auto;
  }

  // See Partial: table_of_content
  #table_of_content nav#TableOfContents {
    margin-top: $global-h1-margin/4;
  }

  #table_of_content nav#TableOfContents ul {
    margin-left: $global-h1-margin/4;
    margin-bottom: 0;
  }

  // See partial author
  .author {
    h2 {
      margin: 0
    }

    &.avatar {
      padding-top: $global-margin;
    }
  }

  :first-child {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  div {
    padding-top: $global-h1-margin;
  }
}
