
// Floating aside
aside {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: $h1_margin;
  margin-top: $h1_margin;


  // See Partial: table_of_content
  #table_of_content nav#TableOfContents {
    margin-top: $h1_margin/4;
  }

  #table_of_content nav#TableOfContents ul {
    margin-left: $h1_margin/4;
    margin-bottom: 0;
  }


  // See partial author
  #about_author {
    h2 {
      margin: 0
    }
  }
}