
// Floating aside
aside {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: $global-h1-margin*2;
  padding-top: $global-h1-margin;

  width: ($global-body-width/12)*4;
  float: left;

  // See Partial: table_of_content
  #table_of_content nav#TableOfContents {
    margin-top: $global-h1-margin/4;
  }

  #table_of_content nav#TableOfContents ul {
    margin-left: $global-h1-margin/4;
    margin-bottom: 0;
  }


  // See partial author
  #about_author {
    h2 {
      margin: 0
    }
  }

  div {
    padding-top: $global-h1-margin;
  }
}
