
* {
    margin: 0;
    padding: 0;
}

p {
  margin: 11px 0;
}

a .btn {
  text-decoration: none;
}

a:hover {
  color: currentColor;
  text-decoration: none;
}


h1, h2, h3 {
  font-family: 'Made Tommy Medium';
}

footer {
  margin-top: 6rem;
  padding: 1.5rem;
}

/* misc */

.highlight {
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 10px;
  background-color: #272822;
  color: #f8f8f2;
  overflow: scroll;
}

/* Header */

header {
  background-color: $mui-body-bg-color;
  /* position: fixed; */
  width: 100%;
  min-height: 2rem;

  navbar {
    display: flex;
    align-items: center;

    .logo {
      height: 36px;
      width: 128px;
      background-image: url('/img/qm64-logo.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 10px 0px;
    }
  }

  .nav-item {
    align-items: flex-end;
    text-align: right;
    font-size: 1.2rem;
    color: #000000;
    font-weight: 500;
    display: inline-block;
    padding-left: 1rem;
  }

  .nav-item:hover {
    color: #0080FF;
  }
}

// Fixes numbers and bullet points not being readable on small screens
@media screen and (max-width: $screen-break-small) {
  // Code highlight and markup
  .highlight {
    width: 95%;
  }
}