.button {
  @include themify() {
    border: 1px solid themed("color-accent") !important;
  }

  display: inline-block;
  padding: $global-margin/2;
  padding-left: $global-margin;

  text-decoration: none;
  background: transparent;
  transition: all 0.25s ease-in-out;

  width: 100%;
  max-width: ($max_aside_width - $global-border-radius)-($global-border-radius/2);
  margin-bottom: $global-h1-margin/4;
  border-radius: $global-border-radius;
  text-align: left;


  &:hover, &.selected {
    @include themify() {
      background: themed("color-accent") !important;
      border-color: themed("color-accent") !important;
      color: themed("background") !important;
    }
    text-decoration: none;
  }

  &:first {
    padding-top: $global-margin/2 !important;
  }

  &.slim {
    max-width: none;
    width: auto;
    @include mobile-portrait {
      width: 100%;
      max-width: $max_aside_width;
    }
    padding: $global-margin/2 $global-margin;

    &.always {
      width: auto;
      max-width: none;
    }
  }
}
