header {
  @include themify(){
    color: themed("text-color");
  }

  display: none;
  @include mobile-portrait(){
    display: inline;
  }

  // position: fixed;
  width: 100%;
  min-height: 2rem;
  font-size: 2rem;
  padding-top: 15px;

  navbar {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      @include themify(){
        color: themed("text-color");
      }
    }
  }

  .nav-item {
    align-items: flex-end;
    text-align: right;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 1rem;
  }
}
