/* homepage sections */

.homepage {
  #about p {
    text-align: left;
    max-width: 500px;
  }

  #goals p {
    text-align: left;
  }

  #goals .material-icons {
    height: 3rem;
    width: 3rem;
    font-size: 3.25rem;
  }

// #goals .material-icons:hover {
//   color: $mui-primary-color;
// }
}