<!DOCTYPE html>
<html lang="en">
    {{ partial "head" . }}
    <body>
      {{ partialCached "header" . }}
      <div class="main">
      {{ block "main" . }}
      {{ end }}
      </div>
      <aside {{ if not .IsPage }}class="sticky"{{ end }}>
        {{ partialCached "avatar.html" . }}
        {{ partialCached "author_links.html" . }}
      </aside>
      {{ if .IsPage }}
      <aside class="sticky">
        {{ partial "table_of_content.html" . }}
        {{ partial "tags.html" . }}
      </aside>
      {{ end }}
      <!-- end main -->
      {{ partialCached "footer" . }}
      {{ partial "scripts" . }}
    </body>
</html>
