{{ define "main" }}
    <div>
        <div class="heading">
            <h1 class="title">
                Latest blog posts
            </h1>
        </div>
        <div id="article_shorts">
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
            {{ range $paginator.Pages }}
                {{ .Render "page-short" }}
            {{ end }}
        </div>
        <div>
            {{ partial "paginator.html" . }}
        </div>
    </div>
{{ end }}
