<article class="short">
  <h2>
    <a href="{{.Permalink | relURL }}">
        {{ .Title }}
    </a>
  </h2>
  <div class="mui-container">
    <div class="mui-row">
      {{ if gt (len (.Resources.ByType "image")) 0 }}
        {{ range first 1 (.Resources.ByType "image") }}
          <a href="{{ $.Permalink | relURL }}">
          {{ with $i := .Fill "450x300 Center webp q75" }}
            <div class="thumbnail mui-col-md-4" style="background-image: url({{$i.RelPermalink}});"></div>
          {{ end }}
        {{ end }}
        </a>
        <div class="mui-col-md-8">
      {{ else }}
      <div class="mui-col-md-12">
      {{ end }}
        <div class="details">
          <span class="material-icons">event</span> {{ .Date.Format "2006-01-02"}}
        </div>
        <div>
          <p>
            {{ .Summary }}
          </p>
          <a class="mui-btn mui-btn--primary" href="{{ .Permalink | relURL }}">Continue reading</a>
        </div>
      </div>
    </div>
</article>
