<article class="short">
  <h2>
    <a href="{{.Permalink | relURL }}">
        {{ .Title }}
    </a>
  </h2>
  <div class="mui-container">
    <div class="mui-row">
      {{ if .Params.images }}
      {{ range first 1 .Params.images }}
      <a href="{{ $.Permalink | relURL }}">
        <div class="thumbnail mui-col-md-4" style="background-image: url({{.}});"></div>
      </a>
      <div class="mui-col-md-8">
      {{ end }}
      {{ else }}
      <div class="mui-col-md-12">
      {{ end }}
        <div class="details">
          <span class="material-icons">event</span> {{ .Date.Format "2006-01-02"}}
        </div>
        <div>
          <p>
            {{ .Summary }}
          </p>
          <a class="mui-btn mui-btn--primary" href="{{ .Permalink | relURL }}">Continue reading</a>
        </div>
      </div>
    </div>
</article>
