<article class="short">
  <h2>
      <a href="{{.Permalink | relURL }}">
          {{ .Title }}
      </a>
  </h2>
  <div class="details">
    <span class="material-icons">event</span> {{ .Date.Format "2006-01-02"}} <span class="material-icons">people</span> by {{ .Render "authors-link" }}
  </div>
  <div>
    <p>{{ .Summary | truncate 500 }}...</p>
    <a class="mui-btn mui-btn--primary" href="{{ .Permalink | relURL }}">Read More <span class="material-icons">navigate_next</span></a>
  </div>
</article>
