{{ define "main" }}
<article itemscope itemtype="https://schema.org/Article">
  <div class="header">
      <h1 class="title" itemprop="headline">
          {{ .Title | emojify }}
      </h1>
      {{ partial "agecheck.html" . }}
      <p>
        On <time itemprop="datePublished" datetime="{{ .Date }}">{{ .Date.Format "2006-01-02"}}</time>
        {{ if .Lastmod }}
        <meta itemprop="dateModified" content="{{ .Lastmod }}" />
        {{ end }}
        - Reading Time: {{ math.Round (div (countwords .Content) 230.0) }} Minutes
      </p>
      <div itemprop="articleBody">{{ .Content | emojify }}</div>
  </div>
</article>
{{ if (.Params.comments) }}
<div id="comments">
  <h2>Comments</h2>
  <script src="https://utteranc.es/client.js"
    repo="koalalorenzo/blog"
    issue-term="title"
    label="comments"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
  {{ partial "agecheck.html" . }}
</div>
{{ end }}
{{ end }}
