{{ define "main" }}
<article itemscope itemtype="https://schema.org/Article">
  <!-- For Google -->
  <meta itemprop="url" content="{{ $.Page.Permalink }}"/>
  <meta name="description" content="{{ .Content | truncate 250 }}" />
  {{ if .Params.tags }}
  <meta name="keywords" content="{{ delimit .Params.tags "," }}" />
  {{ end }}
  <meta name="author" content="Lorenzo Setale" />
  <meta name="copyright" content="{{ .Date.Format "2006" }} Lorenzo Setale" />
  <meta itemprop="copyrightHolder" url="https://setale.me/"/>

  <!-- For Facebook -->
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="article" />
  {{ if .Params.thumbnail }}
  <meta property="og:image" content="{{ .Params.thumbnail | absURL }}" />
  {{ end }}
  <meta property="og:url" content="{{ $.Page.Permalink | absURL }}" />
  <meta property="og:description" content="{{ .Content | truncate 250 }}" />

  <!-- For Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ .Content | truncate 250 }}" />
  {{ if .Params.thumbnail }}
  <meta name="twitter:image" content="{{ .Params.thumbnail | absURL }}" />
  {{ end }}

  <div class="mui--text-left">
      <h1 class="title" itemprop="headline">
          {{ .Title }}
      </h1>
      {{ partial "agecheck.html" . }}
      <p>
        On <time itemprop="datePublished" datetime="{{ .Date }}">{{ .Date.Format "2006-01-02"}}</time> 
      </p>
      <div itemprop="articleBody">{{ .Content }}</div>

      {{ partial "agecheck.html" . }}
      <div>
        <h2>Comments</h2>
        <script src="https://utteranc.es/client.js"
          repo="koalalorenzo/blog"
          issue-term="title"
          label="comments"
          theme="github-light"
          crossorigin="anonymous"
          async>
        </script>
      </div>
  </div>
</article>
{{ end }}
