/*
Colors:

#FFCA39 - Yellow
#16B243 - Green
#0080FF - Blue
#FF3739 - Red
#CCCCCC - Gray

*/
// fonts 
@import "assets/sass/fonts.scss";
$font-family: 'Made Tommy Regular';

// https://colorhunt.co/palette/d8e3e751c4d3126e82132c33
$themes: (
  light: (
    background: #D8E3E7,
    background-accent: #51C4D3,
    text-color: #132C33,
    color-primary: #126E82,
    color-secondary: rgba(#126E82, .80),
    color-accent: #51C4D3,
  ),
  dark: (
    background: #132C33,
    background-accent: #126E82,
    text-color: #D8E3E7,
    color-primary: #51C4D3,
    color-secondary: rgba(#51C4D3, .80),
    color-accent: #126E82,
  ),
);

$theme-map: null;
@mixin themify() {
  @each $theme, $map in $themes {
    @media (prefers-color-scheme: #{$theme}) {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

$base-font-size: 16px;
// this define the margin of headers and h1 first elements
$global-h1-margin: $base-font-size*1.2;
$global-header-top-distance: $global-h1-margin*2;

$global-border-radius: 25px;
$global-margin: $global-border-radius;
$global-body-width: 900px;
$global-content-width: $global-body-width - $global-margin;
// import custom stuff;
$screen-break-small: 600px;

@import "assets/sass/header.scss";
@import "assets/sass/basic.scss";
@import "assets/sass/agecheck.scss";
@import "assets/sass/aside.scss";
@import "assets/sass/classes.scss";
@import "assets/sass/sections.scss";
@import "assets/sass/articles.scss";
@import "assets/sass/articles_shorts.scss";
@import "assets/sass/avatar.scss";
