/*
Colors:

#FFCA39 - Yellow
#16B243 - Green
#0080FF - Blue
#FF3739 - Red
#CCCCCC - Gray

*/
// fonts 
@import "assets/sass/fonts.scss";

// customize MUI variables
$primart-color: #0080FF;
$mui-primary-color:       rgba($primart-color, .90);
$mui-primary-color-dark:  rgba($primart-color, 1);
$mui-primary-color-light: rgba($primart-color, .80);

$accent-color: #FFCA39;
$mui-accent-color:        rgba($accent-color, .90);
$mui-accent-color-dark:   rgba($accent-color, .90);
$mui-accent-color-light:  rgba($accent-color, .90);

$mui-body-bg-color: #eeeeec;
$mui-base-font-size: 16px;
$mui-base-font-family: 'Made Tommy Regular';

// this define the margin of headers and h1 first elements
$h1_margin: $mui-base-font-size*1.2;

$border_radius: 0.8rem;

// import custom stuff;
$screen-break-small: 600px;
@import "assets/sass/basic.scss";
@import "assets/sass/agecheck.scss";
@import "assets/sass/aside.scss";
@import "assets/sass/contact.scss";
@import "assets/sass/home.scss";
@import "assets/sass/sections.scss";
@import "assets/sass/articles.scss";
@import "assets/sass/avatar.scss";
@import "assets/sass/shorts.scss";
