/*
Colors:

#FFCA39 - Yellow
#16B243 - Green
#0080FF - Blue
#FF3739 - Red
#CCCCCC - Gray

*/
// fonts 
@import "assets/sass/fonts.scss";

// import MUI colors
@import "bower_components/mui/src/sass/mui/colors";

// customize MUI variables
$primart-color: #0080FF;
$mui-primary-color:       rgba($primart-color, .90);
$mui-primary-color-dark:  rgba($primart-color, 1);
$mui-primary-color-light: rgba($primart-color, .80);

$accent-color: #FFCA39;
$mui-accent-color:        rgba($accent-color, .90);
$mui-accent-color-dark:   rgba($accent-color, .90);
$mui-accent-color-light:  rgba($accent-color, .90);

$mui-body-bg-color: #CCCCCC;
$mui-base-font-size: 16px;
$mui-base-font-family: 'Made Tommy Regular';

// import MUI SASS
@import "bower_components/mui/src/sass/mui";

// impport material icons
$material-icons-font-path: 'fonts/';
@import 'bower_components/material-icons/iconfont/material-icons.scss';

// import custom stuff;
@import "assets/sass/basic.scss";
@import "assets/sass/contact.scss";
@import "assets/sass/home.scss";
@import "assets/sass/sections.scss";
@import "assets/sass/articles.scss";
