<div id="about_author">
  {{ partial "avatar.html" . }}
  <h2>Lorenzo Setale</h2>
  
  <a href="https://setale.me/contact.html" data-instant>✉️ Contact</a><br/>
  <a href="https://setale.me/" data-instant>👨‍💻 About me</a><br/>
  <a href="https://twitter.com/koalalorenzo">🐦 Twitter</a><br/>
  <a href="https://github.com/koalalorenzo">🐙 GitHub</a><br/>
  <a href="https://gitlab.com/koalalorenzo">🦊 GitLab</a><br/>
  <a href="https://twitch.tv/koalalorenzo">🎮 Twitch</a><br/>
</div>

<div class="mui--clearfix"></div>
