<navbar class="author link">
  <a class="button{{ if .IsHome }} selected{{ end }}" href="{{ "/" | absURL }}" data-instant>📓 My Blog</a>
  <a class="button" href="https://setale.me/" data-instant>👨‍💻 About me</a><br/>
  <a class="button" href="https://setale.me/contact" data-instant>✉️ Contact</a><br/>
  {{ if .IsHome }}
  <a class="button" href="https://mastodon.social/@koalalorenzo">🦣 Mastodon</a><br/>
  <a class="button" href="https://github.com/koalalorenzo">🐙 GitHub</a><br/>
  {{ end }}
</navbar>
<div class="clearfix"></div>
