{{ $avatar_animated_small := resources.Get "images/avatar.animated.256x256.webp"  }}
{{ $avatar_animated_smallmed := resources.Get "images/avatar.animated.320x320.webp"  }}
{{ $avatar_animated_medium := resources.Get "images/avatar.animated.512x512.webp"  }}
<div class="author avatar">
  <a href="https://setale.me/" data-instant>
    <img
      id="about_author_avatar"
      width="256px"
      height="256px"
      srcset="
      {{- with $avatar_animated_small.RelPermalink -}}{{.}} 256w{{- end -}}
      {{- with $avatar_animated_smallmed.RelPermalink -}}{{.}} 320w{{- end -}}
      {{- with $avatar_animated_medium.RelPermalink -}}{{.}} 512{{- end -}}
      "
      src="{{ $avatar_animated_medium.RelPermalink }}">
  </a>
  <h2>Lorenzo Setale</h2>
</div>
<div class="clearfix"></div>
