<footer class="index-footer-margin">
  <div class="mui--text-center">
    <a href="https://qm64.tech/"><img src="https://qm64.tech/img/qm64-logo.svg#noborder" height="120px" alt="Qm64 Logo"></a>
    <div>

      <a href="/">Homepage</a>&nbsp;
      <a href="/index.xml">RSS</a>&nbsp;
      <a href="/tags/">Tags</a>&nbsp;
      <a href="https://setale.me/">Author</a>&nbsp;
      <a href="https://gitlab.com/qm64">GitLab</a>
    </div>
    <small>
      Qm64 OU - Sepapaja tn 6, Tallinn, Estonia
    </small>
  </div>
</footer>