<head>
    <meta charset="UTF-8">
    <meta name="revisit-after" content="3 days" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ if eq .Title "" }}Lorenzo's Blog{{ else }}{{ .Title }} - Lorenzo's Blog{{ end }}</title>

    {{ if not (eq .Description "") }}
    <meta name=description content="{{ .Description }}">
    {{ end }}

    {{ if not (eq .Keywords "") }}
    <meta name="keywords" content='{{ delimit .Keywords ", " }}' />
    {{ end }}

    <link rel="canonical" href="{{ $.Page.Permalink | absURL }}"/>
    <link rel="shortlink" href="{{ $.Page.Permalink | absURL }}"/>

    <!-- RSS -->
    <link  rel="alternate" type="application/rss+xml" title="Lorenzo's Blog Posts Feed" href="/index.xml">

    {{ $style := resources.Get "style.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink | relURL }}">

    <!-- Misc -->
    <link rel='me' href='https://mastodon.social/@koalalorenzo' />

    <!-- Preloads -->
    <link rel="preload" as="script" href="/js/mui.min.js" />
    <link rel="preload" as="script" href="/js/instantpage.min.js" />

    <!-- OpenGraph -->
    {{ template "_internal/opengraph.html" . }}

    <!-- Twitter Cards -->
    {{ template "_internal/twitter_cards.html" . }}

    <!-- Microsoft Bing validator -->
    <meta name="msvalidate.01" content="4C69471E74FAEE5B0A994523CD9F60C7" />
</head>
