<head>
    <meta charset="UTF-8">
    <meta name="revisit-after" content="3 days" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ if eq .Title "" }}Lorenzo's Blog{{ else }}{{ .Title }} - Lorenzo's Blog{{ end }}</title>

    {{ $description := "" }}
    {{ if ne $.Site.Params.description  "" }}
    {{ .Scratch.Set "description" $.Site.Params.description }}
    {{ end }}
    {{ if ne .Summary "" }}
    {{ .Scratch.Set "description" .Summary }}
    {{ end }}
    {{ if ne .Description "" }}
    {{ .Scratch.Set "description" .Description }}
    {{ end }}
    <meta name="description" content='{{ .Scratch.Get "description" | truncate 160 }}'>

    {{ $taxonomy := "tags" }}{{ with .Param $taxonomy }}
    <meta name="keywords" content='{{ delimit . ", " }}' />
    {{ end }}

    <link rel="canonical" href="{{ $.Page.Permalink | absURL }}"/>
    <link rel="shortlink" href="{{ $.Page.Permalink | absURL }}"/>

    <!-- RSS -->
    <link  rel="alternate" type="application/rss+xml" title="Lorenzo's Blog Posts Feed" href="/index.xml">
    {{ $style := resources.Get "style.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink | relURL }}">

    <!-- Preloads -->
    {{ $instjs := resources.Get "js/instantpage.min.js" | js.Build }}
    {{ $js := slice $instjs | resources.Concat "js/bundle.js" | minify | fingerprint }}

    {{ if (.Params.mermaid) }}
    {{ $mermaidjs := resources.Get "js/mermaid.min.js" | js.Build }}
    {{ $js = slice $instjs $mermaidjs | resources.Concat "js/bundle.full.js" | minify | fingerprint }}
    {{ end }}
    
    <link rel="preload" as="script" href="{{ $js.RelPermalink }}" />
    <link rel="preload" as="script" href="https://utteranc.es/client.js" />

    <!-- OpenGraph -->
    {{ template "_internal/opengraph.html" . }}

    <!-- Twitter Cards -->
    {{ template "_internal/twitter_cards.html" . }}

    <!-- Misc -->
    <link rel='me' href='https://mastodon.social/@koalalorenzo' />
</head>
