{{ $muijs := resources.Get "js/mui.min.js" | js.Build | resources.Minify }}
<script async src="{{ $muijs.RelPermalink }}"></script>

{{ $instjs := resources.Get "js/instantpage.min.js" | js.Build | resources.Minify }}
<script type="module"  src="{{ $instjs.RelPermalink }}" ></script>

{{ if (.Params.mermaid) }}
{{ $mermaidjs := resources.Get "js/mermaid.min.js" | js.Build | resources.Minify }}
<script src="{{ $mermaidjs.RelPermalink }}" ></script>
{{ end }}

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ff0fefbb0f5146fd8e2576bf281447b7"}'></script><!-- End Cloudflare Web Analytics -->
