{{ $instjs := resources.Get "js/instantpage.min.js" | js.Build }}
{{ $tocbot := resources.Get "js/tocbot.min.js" | js.Build }}
{{ $js := slice $instjs $tocbot | resources.Concat "js/bundle.js" | minify | fingerprint }}

{{ if (.Params.mermaid) }}
{{ $mermaidjs := resources.Get "js/mermaid.min.js" | js.Build }}
{{ $js = slice $tocbot $instjs $mermaidjs | resources.Concat "js/bundle.full.js" | minify | fingerprint }}
{{ end }}

<script src="{{ $js.RelPermalink | absURL }}"></script>

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ff0fefbb0f5146fd8e2576bf281447b7"}'></script><!-- End Cloudflare Web Analytics -->

<script type="text/javascript">
  tocbot.init({
      // Where to render the table of contents.
      tocSelector: '#TableOfContents',
      // Where to grab the headings to build the table of contents.
      contentSelector: 'article.full',
      // Which headings to grab inside of the contentSelector element.
      headingSelector: 'h2, h3',
      orderedList: false,
  });
  </script>
  