{{ $tag := (.Get "tag") }}
{{ $alt := (.Get "alt") }}
{{ $caption := (.Get "caption") }}
{{ $original := (.Page.Resources.ByType "image").GetMatch (printf "*%s" (.Get "src")) }}

{{ with $original }}
  {{ $tiny := (.Resize "256x webp q90") }}
  {{ $small := (.Resize "512x webp q90") }}
  {{ $medium := (.Resize "1024x webp q90") }}
  {{ $large := (.Resize "2048x webp q90") }}
<a href="{{ .Permalink }}" target="_blank">
  <figure>
    <img
      srcset="
        {{- with $tiny.Permalink -}}{{.}}{{$tag}} 256w{{- end -}}
        {{- with $small.Permalink -}}, {{.}}{{$tag}} 512w{{- end -}}
        {{- with $medium.Permalink -}}, {{.}}{{$tag}} 1024w{{- end -}}
        {{- with $large.Permalink -}}, {{.}}{{$tag}} 2048w{{- end -}}"
      src="{{ $medium.Permalink }}{{$tag}}"
      alt="{{ $alt }}">
      {{ if $caption }}
      <figcaption>
        {{ $caption }}
      </figcaption>
      {{ end }}
  </figure>
</a>
{{ end }}
