{{ $class := (.Get "class") }}
{{ $caption := (.Get "caption") }}
{{ $link := (.Get "link") }}
{{ $original := (.Page.Resources.ByType "image").GetMatch (printf "*%s" (.Get "src")) }}

{{ $tiny := "" }}
{{ $small := "" }}
{{ $medium := "" }}
{{ $large := "" }}

{{ with $original }}
{{ if gt .Width 256 }}
{{ $tiny = (.Resize "256x webp q75") }}
{{ end }}

{{ if gt .Width 512 }}
{{ $small = (.Resize "512x webp q75") }}
{{ end }}

{{ if gt .Width 1024 }}
{{ $medium = (.Resize "1024x webp q75") }}
{{ end }}

{{ if gt .Width 1920 }}
{{ $large = (.Resize "1920x webp q75") }}
{{ end }}
<a href="{{ if $link }}{{ $ link }}{{ else }}{{ .RelPermalink }}{{ endif}}" target="_blank">
  <figure {{ if $class }}class="{{ $class }}" {{ end }}>
    <img width="450px" height="{{ div (mul .Height 450) .Width }}px" srcset="
        {{ if gt .Width 256 }}
        {{- with $tiny.RelPermalink -}}{{.}} 256w{{- end -}}
        {{- end -}}

        {{ if gt .Width 512 }}
        {{- with $small.RelPermalink -}}, {{.}} 512w{{- end -}}
        {{- end -}}

        {{ if gt .Width 1024 }}
        {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
        {{- end -}}

        {{ if gt .Width 1920 }}
        {{- with $large.RelPermalink -}}, {{.}} 1920w{{- end -}}
        {{ end }}
      " sizes="
        (max-width: 1920px) 1920px,
        (max-width: 1024px) 1024px,
        (max-width: 768px) 768px,
        (max-width: 500px) 500px" {{ if gt .Width 1024 }} src="{{ $medium.RelPermalink }}" {{ else }}
      src="{{ .RelPermalink }}" {{ end }} alt="{{ $caption }}">
    {{ if $caption }}
    <figcaption>
      {{ $caption | markdownify }}
    </figcaption>
    {{ end }}
  </figure>
</a>
{{ end }}
<div class="clearfix"></div>